:root {
    ---margin:auto;
    ---color:white;

}

body {
    background: #fcf7f5;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns:20% 1fr;
    align-items: center;
    position: sticky;
    width: 100%;
    background: #efe7e2;
    height: 105px;
}


.logotipo {
    width: 100%;
    height: 105px;
    border-bottom-right-radius: 35px;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:768px) {
    .header {
        grid-template-columns: 40px 1fr;
        gap: 1px;
    }

    .menu{
        gap: 1px;
    }
    
    .botones {
        font-size: 10px;
        font-weight: bold;
    }

    .logotipo {
        min-width: 60px;
    }
}

.botones {
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #5f4028;
    padding: 15px ;
}

.botones:hover {
    border: 2px solid #708a1a;
    background: #708a1a;
    color: white;
    border-radius: 35px;
}

.centro {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    margin-top: 40px;
    background: rgb(233, 202, 177);
}

.pain {
    height: 350px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 60px;
    margin: 0;
    margin-top: 10px;
    box-sizing: border-box;
}

.f, .n{
    font-family: 'Allura', cursive;
    font-size: 200%;
    margin-top: 0;
    width: auto;
    box-sizing: border-box;
}

.texto {
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 23px;
}

.n {
    color: violet;
}

.bas {
    width: 100%;
    height: 395px;
    margin-right: 0;
}

.imagen {
    width: 100%;
    height: 100%;
}


.labios {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    padding: 0 0;
    border: 1px solid #708a1a;
    background: #708a1a;
    border-radius: 30px;
    color: white;
}

@media (max-width: 950px ) {
    .pain h2 {
        font-size: 24px;
    }

    .pain h4 {
        font-size: 16px;
    }
}

@media (max-width: 900px ) {
    .pain h2 {
        font-size: 30px;
    }

    .pain h4 {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .pain h2 {
        font-size: 31px;
    }

    .texto {
        font-size: 10px;
    }

    .centro {
        grid-template-columns: 15% 75% 15%;
    }

    .labios {
        font-size: 15px;
    }

    .f , .n {
        font-size: 65px;
    }
}