:root {
    ---color: white ;
    ---color:
}

body {
    background: rgb(233, 202, 177);
    min-height: 100vh;
    min-width: 100vh;
    box-sizing: border-box;
}

.Titulo {
    color: var(---color);
    border:  1px solid white ;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    margin: auto;
    margin-bottom: 20px;
}

.Formulario {
    color: var(---color);
    text-align: center;
    margin-top: 25px;
}

.Datos {
    margin: 25px 0 ;
}

.guindo {
    border-radius: 15px;
    border: 3px solid white;
    display: block;
    width: 350px;
    height: 300px;
    margin: auto;
}

.qr {
    width: 200px;
    height: 200px;
    object-fit: contain;
}