:root {
    ---margin:auto;
    ---color:white;

}

body {
    background: #fcf7f5;
    margin: 0;
}

header {
    display: grid;
    grid-template-columns:20% 1fr;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background: #efe7e2;
    height: 105px;
    z-index: 1000;
}


.logotipo {
    width: 100%;
    height: 105px;
    border-bottom-right-radius: 35px;
}

.menu {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:768px) {
    .header {
        grid-template-columns: 40px 1fr;
        gap: 1px;
    }

    .menu{
        gap: 1px;
    }
    
    .botones {
        font-size: 10px;
        font-weight: bold;
    }

    .logotipo {
        min-width: 60px;
    }
}

.botones {
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #5f4028;
    padding: 15px ;
}

.botones:hover {
    border: 2px solid #708a1a;
    background: #708a1a;
    color: white;
    border-radius: 35px;
}

.centro {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    margin-top: 40px;
    background: rgb(233, 202, 177);
}

.pain {
    height: 350px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2 {
    width: 100%;
    text-align: center;
    font-size: 60px;
    margin: 0;
    margin-top: 10px;
    box-sizing: border-box;
}

.f, .n{
    font-family: 'Allura', cursive;
    font-size: 200%;
    margin-top: 0;
    width: auto;
    box-sizing: border-box;
}

.texto {
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-size: 23px;
}

.n {
    color: violet;
}

.bas {
    width: 100%;
    height: 395px;
    margin-right: 0;
}

.imagen {
    width: 100%;
    height: 100%;
}


.labios {
    width: 60%;
    margin: auto;
    margin-top: 20px;
    font-size: 30px;
    padding: 0 0;
    border: 1px solid #708a1a;
    background: #708a1a;
    border-radius: 30px;
    color: white;
}

@media (max-width: 950px ) {
    .pain h2 {
        font-size: 24px;
    }

    .pain h4 {
        font-size: 16px;
    }
}

@media (max-width: 900px ) {
    .pain h2 {
        font-size: 30px;
    }

    .pain h4 {
        font-size: 28px;
    }
}

@media (max-width: 600px) {
    .pain , .lips {
        font-size: 28px !important;
        line-height: 1.1;
    }

    .texto {
        font-size: 20px !important;
        line-height: 1.3;
        margin-top: 30px;
    }

    .centro {
        grid-template-columns: 15% 70% 15%;
    }

    .labios {
        width: 100%;
        font-size: 25px !important;
    }

    .f , .n {
        font-size: 40px !important;
    }

    .formas {
        margin-top:35px;
    }
}

i {
    color: #708a1a;
}

.rel {
    color:#50640f;
}

.beneficios {
    margin-top: 0;
    border: 1px solid transparent;
    margin-bottom: 0;
    padding-top: 0;
} 

.porque {
    font-family: 10px;
    margin-top: 113px;
    padding-top: 0;
}

.pag2 {
    display: flex;
    gap: 2%;
    justify-content: space-evenly;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}

.flor {
    font-size: 35px;
}

.flor2 {
    font-size: 24px;
}

.flor3 {
    border-right: 2px solid black;
    text-align: center;
    padding-right: 20px;
    height: 250px;
    margin-top: 20px;
}

.flor4 {
    font-size: 50px;
}

.gota {
    font-size: 35px;
}

.gota2 {
    font-size: 24px;
}

.gota3 {
    border-right: 2px solid black;
    text-align: center;
    padding-right: 20px;
    height: 250px;
    margin-top: 20px;
}

.gota4 {
    color: aquamarine;
    font-size: 50px;
}
.eco {
    font-size: 35px;
}

.eco2 {
    font-size: 24px;
}

.eco3 {
    font-size: 50px;
}

.eco4{
    border-right: 2px solid black;
    text-align: center;
    padding-right: 20px;
    height: 250px;
    margin-top: 35px;
}

.pet {
    text-align: center;
    padding-right: 20px;
}

.pet1 {
    font-size: 50px;
    margin-bottom: 0px;
}

.pet2 {
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 0;
}

.pet3 {
    margin-top: 10px;
    font-size: 24px;
}

.ingre {
    border: 2px solid #9db05c;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
    box-sizing: border-box;
    background: #9db05c;
    padding: 0;
    width: 95%;
    border-radius: 25px;
}

.frase {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
}

.natu {
    margin: 0;
    margin-top: 5px;
}

.ingredientes {
    display: flex;
    width: 95%;
    justify-content: center;
    margin: 0 25px;
    gap: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

.ingredientes{
    margin-top: 0;
}

.manteca , .coco , .vita , .jojoba , .cera {
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.manteca1 , .vita1 , .coco1 , .jojoba1 , .cera1 {
    width: 100%;
}

.conejo {
    margin-top: 0;
    padding: 0;
    width: 150px;
    height: 150px;
}

@media ( max-width:600px ) {
    .rel {
        font-size: 21px !important;
    }

    .flor4 , .gota4 , .eco3 {
        font-size: 20px;
    } 

    .flor , .gota , .eco , .pet2 {
        font-size: 15px;
    }

    .flor2, .gota2, .eco2, .pet3 {
        font-size: 12px;
    }

    .conejo {
        width: 70px;
        height: 70px;
    }

    .eco4, .gota3, .flor3 {
        height: 170px;
    }

    .cera1, .jojoba1, .vita1, .coco1, .manteca1 {
        width: 98%;
        align-items: center;
    }

    .coco, .jojoba, .vita, .cera, .manteca {
        font-size: 8px;
        text-align: center;
    }

    .frase {
        font-size: 15px;
        box-sizing: 80%;
    }

    .ingre {
        margin-left: 5px !important;
        margin-right: 5px !important;
    }

    .ingredientes {
        gap: 25px;
        margin-left: 5px;
    }
}

.pro {
    margin-top: 0px;
    padding-top: 75px;
}

.nuestros {
    text-align: center;
    color:#50640f;
    margin-bottom: 5px;
    font-size: 45px;
}

.nuestros1 {
    margin: 0 20px;
}

p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-style: oblique;
}

.producto {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    gap: 12%;
    box-sizing: border-box;
    padding: 0;
    padding-left: 55px;
    padding-right: 65px;
    margin-top: 40px;
}

.espacio {
    margin: 0;
    margin-top: 15px;
}

.producto1 , .producto2 , .producto3 {
    background: white;
    border-radius: 25px;
    text-align: center;
    border: 2px solid rgb(225, 154, 179);
}

.guindo , .rojo , .transparente {
    width: 100%;
    height: 230px;
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.precio {
    display: flex;
    justify-content: space-evenly;
}

.parrafo {
    margin: 20px 60px;
}

.comprar {
    background: #617815;
    color: white;
    border-radius: 15px;
    padding: 10px 15px;
    margin-right: 25px;
    text-decoration: none;
}

@media (max-width: 600px) {
    .nuestros {
        font-size: 27px;
    }
    .rojo, .transparente, .guindo {
        height: auto;
        width: 100%;
    }

    .espacio,
    .parrafo,
    .precio {
        font-size: 12px;
        width: 100%;
        text-align: center;
    }

    .producto {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 30px;
        width: 100%;
    }

    .producto1,.producto2,.producto3 {
        width: 30%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .comprar {
        width: 60px;
        font-size: 12px;
        align-items: center;
    }
}

.contacto {
    width: 100%;
}

.apartado {
    border: 2px solid #ddbcae;
    margin: 0 15px;
    border-radius: 25px;
}

.contac {
    margin-top: 25px;
    padding-bottom: 15px;
}

.correo {
    text-align: center;
}

.logitos {
    margin-right: 10px;
}

.ubi {
    background:#a0bb48;
    text-align: center;
    box-sizing: border-box;
    border-radius: 25px;
}

.envianos {
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

.conejo {
    margin-top: 0;
    padding: 0;
    width: 150px;
    height: 150px;
}

@media (max-widtgh:600px ) {

    .nuestros1 {
        font-size: 5px !important;
    }

    .contacto {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    gap: 25px;
    }

    aside {
        width: 100%;
        text-align: center;
    }

    .ubi {
        width: 100%;
    }

    .mapa {
        width: 100%;
        height: 150px;
    }

    .contac h1 {
        font-size: 35px;
        text-align: center;
    }

    .correo {
        font-size: 10px !important;
    }
}