:root {
    ---color: white ;
}

body {
    background:linear-gradient( black ,rgb(75, 71, 71) );
    min-height: 100vh;
    min-width: 100%;
    box-sizing: border-box;
}

.Titulo {
    color: var(---color);
    border:  1px solid white ;
    max-width: 400px;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    margin: auto;
}

label {
    color: white;
}